.DS_Store
.project
env.php
ext/
log/
.idea/
.settings/
CI/application/controllers/dbinits.php
CI/application/cache/*
!CI/application/cache/index.html
!CI/application/cache/.htaccess
term/
CI/application/logs/*
!application/logs/index.html
!application/logs/.htaccess

CI/application/config/

CI/upload/*
!CI/upload/index.html
!CI/upload/.htaccess

CI/application/twigcahce/*
!CI/application/twigcahce/index.html
!CI/application/twigcahce/.htaccess

.idea/*

.settings/*

upload
nbproject/
.buildpath
.travis.yml
upload.sh
matrix.html
phpMyAdmin/
phpMyAdmin/*

phpinfo.php
